<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lin.android3" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
        <activity
            android:name=".ScreenCap"
            android:label="@string/title_activity_screen_cap" >
        </activity>
        <activity
            android:name=".Getres"
            android:label="@string/title_activity_getres" >
        </activity>
        <activity
            android:name=".TextShadowActivity"
            android:label="@string/title_activity_text_shadow" >
        </activity>
    </application>

</manifest>
